body {
  background-color: #212121;
}

header {
  background-color: #212121;
  border: 2px solid #0f0f0f;
  border-top: none;
  float: right;
  height: 58px;
  width: 63%;
  margin: 0 20%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  header{
    background-color: #212121;
    border: 2px solid #0f0f0f;
    border-top: none;
    float: right;
    height: 58px;
    width: 100%;
    margin: 0;
  }
}

.sign-out{
  background-color: #2b3c58;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px 0;
  color: #ffff;
  width: 110px;
  border: none;
  float: right;
}

.main {
  background-color: #0f0f0f;
  position: relative;
  float: right;
  overflow: hidden;
  max-height: 869px;
  padding: 1% 0;
  margin-right: 20%;
  width: 63%;
  display: flex;
  flex-direction: column;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .main {
    background-color: #0f0f0f;
    width: 100%;
    overflow: hidden;
    max-height: 662px;
    margin-right: 0;
  }
}

.chat-container{
  background-color: #0f0f0f;
  position: relative;
  margin: 0px auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 60%;
  height: 800px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .chat-container {
    position: relative;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
  }
}

.message-container {
  border-radius: 10px;
  width: 60%;
  position: relative;
  margin: 0px auto;
  display: flex;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .message-container {
    background-color: #212121;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: auto;
    display: flex;
  }
}

.message-type {
  line-height: 1.5;
  text-indent: 40px;
  width: 100%;
  font-size: 17px;
  background-color: #212121;
  border-radius: 10px;
  color: #ffffff;
  outline: none;
  border: none;
}

.message-type::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a5a6a1;
}
.message-type::-moz-placeholder { /* Firefox 19+ */
  color: #a5a6a1;
}
.message-type:-ms-input-placeholder { /* IE 10+ */
  color: #a5a6a1;
}

.message-send {
  position: relative;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-color: #212121;
}

.message-send img {
  margin: 2px 0 0 4px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

button:disabled {
  cursor: not-allowed;
}

ul, li {
  text-align: left;
  list-style: none;
}

.sent p {
  max-width: 500px;
  width: fit-content;
  margin-bottom: 4px;
  word-wrap: break-word;
  line-height: 24px;
  padding: 10px 12px;
  border-radius: 15px 15px 0 15px;
  position: relative;
  color: white;
  text-align: left;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .sent p {
    max-width: 60%;
  }
}

.received p {
  max-width: 500px;
  width: fit-content;
  margin-bottom: 4px;
  word-wrap: break-word;
  line-height: 24px;
  padding: 7px 12px;
  border-radius: 15px 15px 15px 0px;
  color: white;
  text-align: left;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .received p {
    max-width: 60%;
  }
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: #ffff;
  background: #2b3c58;
  align-self: flex-end;
}
.received p {
  background: #212121;
  color: #ffff;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 5px;
  background: #212121;
}



